
*:focus {
    outline: none;
}

.contactFormSection {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.contactFormSection h1 {
    font-size: 25px;
    letter-spacing: 4px;
}

.contactUsBox {
    margin-top: 20px;
    width: 80%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contactUsBox input {
    width: 350px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #222;
    background: #f7f8fa;
}

.contactUsBox input:nth-child(1) {
    margin-right: 30px;
}

.contactUsBox input::placeholder {
    font-size: 14px;
    text-transform: uppercase;
    color: #528da4;
    letter-spacing: 3px;
    padding-left: 10px;
}

.contactUsBox input:focus {
    font-size: 14px;
    text-transform: uppercase;
    color: #528da4;
    letter-spacing: 3px;
    padding-left: 10px;

}

.contactFormSection .button {
    margin-top: 20px;
    width: 250px;
    height: 55px;
    background: #528da4;
    color: white;
    font-size: 14px;
    border:none;
    border-radius: 5px;
}