.contactFormSection {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.contactFormSection h1 {
    font-size: 25px;
    letter-spacing: 4px;
}

.contactUsBox {
    margin-top: 20px;
    width: 80%;
    height: 46vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contactUsBox input {
    width: 350px;
    height: 40px;
}

.contactUsBox input:last-child {
    width: 350px;
    height: 150px;
    resize: none;
}

.contactUsBox input::placeholder {
    font-size: 14px;
    text-transform: uppercase;
    color: #528da4;
    letter-spacing: 3px;
    padding-left: 10px;
    /*position: absolute;
    padding-top: 10px;*/
}