.contactFormSection {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
    /*background: rgba(0,0,0,.5);*/
}

.contactFormSection h1 {
    font-size: 25px;
    letter-spacing: 4px;
}

.contactUsBox {
    margin-top: 20px;
    width: 80%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contactUsBox input {
    width: 350px;
    height: 40px;
}

.contactUsBox input:nth-child(5) {
    width: 350px;
    height: 150px;
    resize: none;
}

.contactUsBox input::placeholder {
    font-size: 14px;
    text-transform: uppercase;
    color: #528da4;
    letter-spacing: 3px;
    padding-left: 10px;
    /*position: absolute;
    padding-top: 10px;*/
}

.contactFormSection .button {
    margin-top: 20px;
    width: 250px;
    height: 55px;
    background: #528da4;
    color: white;
    font-size: 14px;
     border:none;
}