.navBar {
    width: 100%;
    height: 90px;
    background: #444; 
}

.navBar div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 100%;
    float: right;
    margin-right: 50px;
}

.links {
    text-decoration: none;
    color: #999;
    font-size: 18px;
    /*border: 2px solid transparent;*/
    padding: 8px;
    font-weight: bold;
}

.links:hover {
    color: #111;
    /*border: 2px solid #222;*/
    background: #528da4;
    border-radius: 2px;
}